*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

:root {
  --text-clr: #100f0f;
  --background-button: #8c1627;
  --background-button-hover: #9f3343;
  --background-header: #ffffff;
}

body {
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 150px 1fr;
  grid-template-areas:
    "header header header"
    "aside content content"
    "aside content content";
  position: relative;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-header);
  box-shadow: 1px 0px 4px 4px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 9999;
  grid-area: header;
}

.header .logo img {
  width: 200px;
}

.header .logo a {
  color: var(--text-clr);
  text-decoration: none;
  position: absolute;
  left: 8px;
  top: 8px;
}

.header .cart {
  margin-left: 20px;
  cursor: pointer;
}

.header input {
  width: 370px;
  border-radius: 20px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid rgb(195, 195, 195);
}

.header input:focus {
  outline: none;
}

.header input::placeholder {
  font-size: 16px;
  color: silver;
}

.header .navigation-list {
  width: 100%;
  list-style: none;
  display: flex;
  margin-right: 14px;
}

.navigation-menu {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.navigation-list {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.navigation-list .navigation-item {
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navigation-list .navigation-item .navigation-link {
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.categories {
  position: relative;
}

.categories span svg {
  vertical-align: middle;
}
.categories-list-container {
  height: 200px;
  width: 250px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 100%;
  border: 1px solid black;
}

.active {
  display: flex;
}

.categories-list {
  flex-direction: column;
  list-style: none;
  width: 100%;
  height: 50px;
}

.categories-list .category-item {
  height: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding-left: 6px;
}

.categories-list .category-item:hover {
  text-decoration: underline;
  background-color: #8c1627;
  color: #fff;
}

.filters {
  position: fixed;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #b7b7b7;
  grid-area: aside;
}

input[type="range"],
.select-category-filter {
  width: 180px;
  height: 28px;
  font-size: 16px;
  margin-top: 14px;
}

.product-container-grid {
  display: grid;
  place-items: center;
  grid-area: content;
  padding: 50px;
}

.products-list-grid {
  display: grid;
  row-gap: 20px;
  column-gap: 8px;
  grid-template-columns: repeat(4, 1fr);
}

.product-card {
  height: 25vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 20px;
  flex-direction: column;
  place-items: center;
  border: 1px solid black;
  border-radius: 6px;
  position: relative;
  padding: 8px;
}

.product-card p {
  width: 100%;
  text-align: left;
  margin-left: 8px;
  cursor: pointer;
}

.product-card p:hover {
  text-decoration: underline;
}

img {
  width: 67px;
}

.add-btn {
  background-color: var(--background-button);
  border: none;
  cursor: pointer;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.add-btn:hover {
  background-color: var(--background-button-hover);
}

@media (max-width: 1300px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 150px 70px 1fr;
    grid-template-areas:
      "header header header"
      "filters filters filters"
      "content content content";
  }

  .header {
    width: 100%;
  }

  .filters {
    width: 100%;
    height: auto;
    grid-area: filters;
    position: inherit;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: none;
    gap: 8px;
  }

  .product-container-grid {
    grid-area: content;
  }

  .products-list-grid {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
  }

  .product-card,
  .product-card p {
    width: 100%;
    font: 16px;
  }
}
