* {
  margin: 0;
  padding: 0;
}

:root {
  --text-clr: #100f0f;
  --background-button: #8c1627;
  --background-button-hover: #9f3343;
  --background-header: #ffffff;
}

body {
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 1fr;
  grid-template-areas: "header" "content";
  position: relative;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-header);
  box-shadow: 1px 0px 4px 4px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 9999;
  grid-area: header;
}

.header .logo img {
  width: 200px;
}

.header .logo a {
  color: var(--text-clr);
  text-decoration: none;
  position: absolute;
  left: 8px;
  top: 8px;
}

.header .cart {
  margin-left: 20px;
  cursor: pointer;
}

.header input {
  width: 370px;
  border-radius: 20px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid rgb(195, 195, 195);
}

.header input:focus {
  outline: none;
}

.header input::placeholder {
  font-size: 16px;
  color: silver;
}

.header .navigation-list {
  width: 100%;
  list-style: none;
  display: flex;
  margin-right: 14px;
}

.navigation-menu {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.navigation-list {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.navigation-list .navigation-item {
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navigation-list .navigation-item .navigation-link {
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.categories {
  position: relative;
}

.categories span svg {
  vertical-align: middle;
}
.categories-list-container {
  height: 200px;
  width: 250px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 100%;
  border: 1px solid black;
}

.active {
  display: flex;
}

.categories-list {
  flex-direction: column;
  list-style: none;
  width: 100%;
  height: 50px;
}

.categories-list .category-item {
  height: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding-left: 6px;
}

.categories-list .category-item:hover {
  text-decoration: underline;
  background-color: #8c1627;
  color: #fff;
}

.cart-container {
  display: grid;
  place-items: center;
}

.cart-list {
  width: 100vh;
  height: 80vh;
}

.product-cart {
  list-style: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid black;
  padding: 14px;
  margin-bottom: 4px;
  position: relative;
}

.product-image {
  width: 35px;
}

.product-cart p {
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.delete-btn {
  background-color: inherit;
  border: none;
  position: absolute;
  right: 10px;
  cursor: pointer;
}
