*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

:root {
  --text-clr: #ebebeb;
  --background-button: #ddd908;
  --background-button-hover: #ddda08d0;
  --background-header: #0a0a0a;
}

body {
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 150px 1fr;
  grid-template-areas:
    "header header header"
    "aside content content"
    "aside content content";
  position: relative;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-header);
  box-shadow: 1px 0px 4px 4px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 9999;
  grid-area: header;
}

.header .logo .logo {
  width: 100px;
}

.header .logo a {
  color: var(--text-clr);
  text-decoration: none;
  position: absolute;
  left: 8px;
  top: 8px;
}

.header .cart {
  margin-left: 20px;
  cursor: pointer;
  position: relative;
}

.total-products {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  right: -8px;
  font-size: 14px;
}

.header input {
  width: 370px;
  border: none;
  border-radius: 20px;
  padding: 8px;
  font-size: 14px;
}

.header input:focus {
  outline: none;
}

.header input::placeholder {
  font-size: 16px;
  color: silver;
}

.header .navigation-list {
  width: 100%;
  list-style: none;
  display: flex;
  margin-right: 14px;
}

.navigation-menu {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.navigation-list {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.navigation-list .navigation-item {
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--text-clr);
}

.navigation-list .navigation-item .navigation-link {
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--text-clr);
}

.categories {
  position: relative;
}

.categories span svg {
  vertical-align: middle;
}
.categories-list-container {
  height: 200px;
  width: 250px;
  background-color: #ffffff;
  position: absolute;
  top: 100%;
  border: 1px solid black;
}

.active {
  display: flex;
}

.categories-list {
  flex-direction: column;
  list-style: none;
  width: 100%;
  height: 50px;
}

.categories-list .category-item {
  height: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding-left: 6px;
  color: #0a0a0a;
}

.categories-list .category-item:hover {
  text-decoration: underline;
  background-color: var(--background-button);
  color: #0a0a0a;
}

.filters {
  position: fixed;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #b7b7b7;
  grid-area: aside;
}

.price-range {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  gap: 2px;
  text-align: center;
  font-size: 18px;
}

.select-category-filter {
  width: 180px;
  height: 28px;
  font-size: 16px;
  margin-top: 14px;
}

.product-container-grid {
  display: grid;
  place-items: center;
  grid-area: content;
  padding: 20px;
}

.products-list-grid {
  display: grid;
  row-gap: 20px;
  column-gap: 122px;
  grid-template-columns: repeat(4, 1fr);
}

.product-card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 20px;
  flex-direction: column;
  place-items: center;
  border-radius: 6px;
  position: relative;
  padding: 8px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
}

.product-card p {
  width: 100%;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  margin-left: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: rgb(15, 14, 14);
}

.product-card a {
  text-decoration: none;
}

.product-card p:hover {
  text-decoration: underline;
}

.image-product {
  height: 67px;
}

.product-price {
  position: absolute;
  left: 18px;
  bottom: 10px;
  font-size: 18px;
  padding: 0 4px;
  border-radius: 6px;
  background-color: rgb(230, 230, 233);
}

.add-btn {
  background-color: var(--background-button);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 16%;
  position: absolute;
  bottom: 8px;
  right: 18px;
}

.add-btn:hover {
  background-color: var(--background-button-hover);
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 150px 70px 1fr;
    grid-template-areas:
      "header"
      "filters"
      "content";
  }

  .header {
    width: 100%;
  }

  .filters {
    width: 100%;
    height: auto;
    grid-area: filters;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: none;
    gap: 8px;
    margin-top: 12px;
    position: inherit;
  }

  .product-container-grid {
    grid-area: content;
  }

  .products-list-grid {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
  }

  .product-card,
  .product-card p {
    width: 100%;
    font: 16px;
  }
}
